<html>

<head>

</head>

<body>



<div class="row-fluid">

  <div class="span7 offset1">

    <%= render "calendar" %>

  </div>

  <div class="span3">
    <!-- create and populate the table with all diary entries -->
    <div class="hero-unit">
      <% @diary_entries.each do |d| %>

        <p><h3><%= d.created_at.strftime("%B %d, %Y") %></h3></p>

        <% if (!d.created_at.blank?) %>
          <p><%= d.title %></p>
          <p><%= d.description %></p>
        <% else %>
            <p>Sorry! You didn't put in an entry for today.<p>
        <% end %>
      <% end %>
    </div>


    <!-- Adding new diary entry button -->
    <%= link_to new_diary_entry_path do %>
      <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">New Entry</button>
    <% end %>


    <!-- Modal for New Entry -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">New Calendar Entry</h3>
      </div>

      <div class="modal-body">

      </div>


      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
      </div>

    </div>
  </div>
</div>












<!-- Old Code -->

<!-- calculating the current and longest consecutive entries -->

<!-- array of entry dates -->
<!--
<% entry_dates = @diary_entry_check.map { |d| d[:date] } %>
<% streak_counts = [] %>
<% count = 0 %>

<% (@day.beginning_of_month..@day.end_of_month).each do |day| %>

  <% if entry_dates.include?(day) %>
    <% count += 1 %>
  <% else %>
    <% streak_counts << count %>
    <% count = 0 %>
  <% end %>

<% end %>-->

<!--<%= streak_counts.max %>-->





  <!-- Carousel -->
  <!--<div id="#homepagecarousel" class="carousel slide">-->
  <!-- Carousel Items -->
    <!--<div class="carousel-inner">
      <div class="active item">
        <%= image_tag 'wallpaper1919x772' %>
        <div class="carousel-caption">
          <p>Spring Reading</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag 'ourintention1919x760.png' %>
        <div class="carousel-caption">
          <p>Your Reality</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag 'frostedsummer600x477.png' %>
        <div class="carousel-caption">
          <p>Summertime Replay</p>
        </div>
      </div>

      <a class="carousel-control left" href="#homepagecarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#homepagecarousel" data-slide="next">&rsaquo;</a>
  </div>-->



<!-- Carousel JavaScript & jQuery Plugins -->


<%= javascript_include_tag "application" %>

<script>
  $('#myModal').modal();
</script>

<script>
  $(document).ready(function(){
    $('.carousel').carousel({ });
  })
</script>


</body>
</html>





