<html>

<head>

</head>

<body>



<div class="row-fluid">

  <div class="span7 offset1">

    <%= render "calendar" %>
  
  </div>

  <div class="span3"> 
    <!-- create and populate the table with all diary entries -->
    <div class="hero-unit">
      <% @diary_entries.each do |d| %>

        <p><h3><%= d.created_at.strftime("%B %d, %Y") %></h3></p>

        <% if (!d.created_at.blank?) %>
          <p><%= d.title %></p>
          <p><%= d.description %></p>
        <% else %>  
            <p>Sorry! You didn't put in an entry for today.<p>
        <% end %>
      <% end %>
    </div>

  <p>
  
    <button class="btn btn-primary" type="button">New Entry<% link_to new_diary_entry_path %></button>

  </p>

  </div>

</div>  












<!-- Old Code -->

<!-- calculating the current and longest consecutive entries -->

<!-- array of entry dates -->
<!--
<% entry_dates = @diary_entry_check.map { |d| d[:date] } %>
<% streak_counts = [] %>
<% count = 0 %>

<% (@day.beginning_of_month..@day.end_of_month).each do |day| %>
  
  <% if entry_dates.include?(day) %>
    <% count += 1 %>
  <% else %>
    <% streak_counts << count %>
    <% count = 0 %>
  <% end %>

<% end %>-->

<!--<%= streak_counts.max %>-->


<!-- fluid grid -->
<!--
  <div class="row-fluid">

    <div class="span4">
      <h2>Title One</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam imperdiet neque sed urna ullamcorper posuere. Phasellus at risus massa. Nulla cursus, justo sed gravida rhoncus, ante leo euismod dui, adipiscing iaculis libero lorem quis tellus. Pellentesque vestibulum lobortis leo, at mollis mauris fringilla non. </p>
    </div>

    <div class="span4">
      <h2>Title Two</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam imperdiet neque sed urna ullamcorper posuere. Phasellus at risus massa. Nulla cursus, justo sed gravida rhoncus, ante leo euismod dui, adipiscing iaculis libero lorem quis tellus. Pellentesque vestibulum lobortis leo, at mollis mauris fringilla non. </p>
    </div>

    <div class="span4">
      <h2>Title Three</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam imperdiet neque sed urna ullamcorper posuere. Phasellus at risus massa. Nulla cursus, justo sed gravida rhoncus, ante leo euismod dui, adipiscing iaculis libero lorem quis tellus. Pellentesque vestibulum lobortis leo, at mollis mauris fringilla non. </p>
    </div>    
  </div> -->



<!-- navbar -->
<!--
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <ul class="nav">

      <a class="brand" href="./diary_entries.html">Mer's Space Jam</a>
      <li class="<%= 'active' if current_page?(diary_entries_path) %>"><%= link_to "Home", diary_entries_path %></li>
      <li class="<%= 'active' if current_page?(new_diary_entry_path) %>"><%= link_to "New Entry", new_diary_entry_path %></li>
    </ul>
  </div>
</div>-->



<!--
<ul class="pager">
      <li><%= link_to "Previous Month", diary_entries_path(day: @day - 1.month) %></li>
      <li><%= link_to "Next Month", diary_entries_path(day: @day + 1.month) %></li>
</ul>
-->

<!--
<%= link_to "Previous Day", diary_entries_path(day: @day - 1.day) %>
<%= link_to "Next Day", diary_entries_path(day: @day + 1.day) %>
-->

  <!-- Carousel -->
  <!--<div id="#homepagecarousel" class="carousel slide">-->
  <!-- Carousel Items --> 
    <!--<div class="carousel-inner">
      <div class="active item">
        <%= image_tag 'wallpaper1919x772' %>
        <div class="carousel-caption">
          <p>Spring Reading</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag 'ourintention1919x760.png' %>
        <div class="carousel-caption">
          <p>Your Reality</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag 'frostedsummer600x477.png' %>
        <div class="carousel-caption">
          <p>Summertime Replay</p>
        </div>
      </div>

      <a class="carousel-control left" href="#homepagecarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#homepagecarousel" data-slide="next">&rsaquo;</a>
  </div>-->



<!-- Carousel JavaScript & jQuery Plugins -->


<%= javascript_include_tag "application" %>

<script>
  $(document).ready(function(){
    $('.carousel').carousel({ });
  })
</script>


</body>
</html>





